body {
  font-size: 15px;
  font-weight: bold;
}

/** HEADER **/
#header-nav {
  background-color: #A9A9A9; 
  border-radius: 0;
  border: solid black 2px;
  height: 90px;
}

.navbar-brand h1 { /* Restaurant name */
    font-size: 30px; /* 1vw = 1% of viewport width. stretches based on browser width */
    color: black;
    font-weight: bold;
    float: left;
  }
#nav-list a {
  background-color: white;
  border: solid black 2px;
  font-size: 20px;
  color: black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both; 
  margin-top: -25px;
}
.text-center {
  padding-top: 20px;
  font-size: 30px;
  color: black;
  font-weight: bold;
}
.container-fluid {
  background-color: #A9A9A9;
  padding: 10px;
  margin: 50px 15px 15px 15px;
}

h2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}